.bio {
  margin-top: 24px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .bio {
    margin-top: 0;
    padding: 8rem 0 0;
  }
}
.bio-container {
  margin: 0 auto;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .bio-container {
    max-width: 100%;
  }
}
.bio-title {
  font-size: 44px;
  font-weight: bold;
  margin-top: 0;
  padding: 0;
  color: #01579B;
}
.bio-subtitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 24px;
  padding: 0 0 16px;
  display: inline-block;
  border-bottom: 3px solid #333;
  color: #333;
  text-transform: uppercase;
}
.intro {
  font-size: 22px;
}
.quote {
  /* border-top: 3px solid #333;
  border-bottom: 3px solid #333; */
  font-size: 22px;
  padding: 16px 16px;
}

.bio .btn {
  color: #01579B;
  border-color: #01579B !important;
}
.bio .btn.btn-cta {
  width: 100%;
  font-size: 22px;
  margin-top: 24px;
  padding: 36px 0;
  border-radius: 0;
  border: none;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  white-space: normal;
}
@media screen and (min-width: 768px) {
  .bio .btn.btn-cta {
    font-size: 27px;
  }
}

.inline-block {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .bio-profile-photo {
    margin-bottom: 16px;
  }
}

/* BIO (HOME) */
.bio.bio-home {
  padding: 4rem 0 3rem !important;
  background-color: #01579B !important;
}
.bio-home .bio-title,
.bio-home .bio-subtitle,
.bio-home p,
.bio-home li {
  color: #FFF !important;
  border-color: #fff !important;
}
.bio-home li {
  margin: 0 0 8px !important;
  font-size: 18px !important;
}
@media screen and (max-width: 575px) {
  .bio-home .btn-wrapper {
    text-align: center !important;
  }
}
.bio-home .btn {
  margin-top: 16px !important;
  color: white !important;
  border-color: white !important;
}