/* Google Web Fonts */
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body, h1, h2, h3, h4, h5, h6, p, li, a {
  /* font-family: 'Parisienne', cursive !important; */
  /* font-family: 'Roboto', sans-serif !important; */
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #fefefe;
  color: #333;
  font-family: Arial, Helvetica, sans-serif !important;
  text-decoration: none;
  /* background-image: url(../images/bg.jpg); */
}

p, a {
  color: #333;
  text-decoration: none;
}
p a {
  color: #01579B;
}

.btn {
  border: 1px solid #666;
  background-color: transparent;
  border-radius: 6px;
  line-height: 1.2;
}
.btn.large {
  font-size: 22px;
  padding: 10px 16px;
}

.strong {
  font-weight: bold;
}
.no-border {
  border: transparent !important;
}

.bg-gha {
  background-color: #01579B;
}
.c-gha {
  color: #01579B;
}

.has-border-radius {
  border-radius: 6px;
}
.circle {
  border-radius: 50%;
}

/* Utilities */
.hide-xs {
  display: none;
}
@media screen and (min-width: 768px) {
  .hide-xs {
    display: block;
  }
}

.show-xs {
  display: block;
}
@media screen and (min-width: 768px) {
  .show-xs {
    display: none;
  }
}