.about {
  /* margin: 0;
  padding: 3rem 0; */
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .about {
    /* padding: 0; */
  }
}
.about-container {
  margin: 6rem auto 6rem;
  /* padding: 0; */
  text-align: center !important;
  /* max-width: 90%; */
  /* min-height: 95vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
@media screen and (min-width: 768px) {
  .about-container {
    max-width: 55%;
  }
}
.about-title {
  font-size: 44px;
  margin-top: 16px;
  padding: 0;
  color: #01579B;
}
.intro {
  font-size: 22px;
  /* line-height: 1.4; */
  /* color: #01579B; */
}

.about .btn {
  color: #01579B;
  border-color: #01579B !important;
}
.about .btn.btn-cta {
  width: 100%;
  font-size: 22px;
  margin-top: 24px;
  padding: 36px 0;
  border-radius: 0;
  border: none;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  white-space: normal;
}
@media screen and (min-width: 768px) {
  .about .btn.btn-cta {
    font-size: 27px;
  }
}

.inline-block {
  display: inline-block;
}