/* BIO (HOME) */
.bio.bio-home {
  padding: 4rem 0 3rem !important;
  background-color: #01579B !important;
}
.bio-home .bio-title,
.bio-home .bio-subtitle,
.bio-home p,
.bio-home li {
  color: #FFF !important;
  border-color: #fff !important;
}
.bio-home li {
  margin: 0 0 8px !important;
  font-size: 18px !important;
}
@media screen and (max-width: 575px) {
  .bio-home .btn-wrapper {
    text-align: center !important;
  }
}
.bio-home .btn {
  margin-top: 16px !important;
  color: white !important;
  border-color: white !important;
}