.carousel-item {
  /* min-height: 50vh !important; */
  overflow: hidden !important;
}
@media screen and (min-width: 1024px) {
  .carousel-item {
    height: auto !important;
    max-height: 100vh !important;
  }
}
.carousel img {
  margin-bottom: 0 !important;
  /* height: 90vh !important; */
}
.carousel-caption {
  height: 100% !important;
}
.carousel-caption.d-none {
  display: flex !important;
  flex-direction: column-reverse !important;
  align-items: center !important;
  justify-content: center !important;
  text-transform: uppercase !important;
}
.carousel-caption p {
  font-size: 0.9rem !important;
  font-weight: bold !important;
  margin: 0 auto 1rem !important;
  color: #fff !important;
  text-shadow: 1px 3px 5px rgba(0,0,0,.3) !important;
  line-height: 1;
  margin-bottom: 1rem !important;
}
@media screen and (min-width: 768px) {
  .carousel-caption p {
    font-size: 1.6rem !important;
    font-weight: bold !important;
    margin: 0 auto 1rem !important;
    color: #fff !important;
    text-shadow: 1px 3px 5px rgba(0,0,0,.3) !important;
  }
}
.carousel-caption h3 {
  font-size: 2rem !important;
  font-weight: bold !important;
  margin: 0 !important;
  text-shadow: 1px 3px 5px rgba(0,0,0,.3) !important;
}
@media screen and (min-width: 768px) {
  .carousel-caption h3 {
    font-size: 3rem !important;
  } 
}
@media screen and (min-width: 1024px) {
  .carousel-caption h3 {
    font-size: 4rem !important;
  } 
}
/* .carousel-caption.d-none {
  display: block !important;
} */
.carousel-indicators {
  display: none;
}
@media screen and (min-width: 1024px) {
  .carousel-indicators {
    bottom: 24px !important;
    display: flex;
  }
}
.carousel-indicators li {
  width: 15px !important;
  height: 15px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
  border-radius: 50%;
}