.header {
  margin-bottom: 0;
  background-color: #01579B;
  position: relative;
}

.header .navbar {
  width: 100%;
  background-color: #01579B !important;
}
@media screen and (min-width:768px) {
  .header .navbar {
    background-color: transparent !important;
    background-image: linear-gradient(rgba(1,87,155,.6), rgba(1,87,155,0) );
    /* Integrate with Carousel: */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
}
.logo-gha {
  width: 55px;
}
@media screen and (max-width:450px) {
  .logo-gha {
    margin-bottom: 8px;
  }
}

.header .nav-item {
  margin-bottom: 0;
}
.header .nav-item a {
  color: #fff !important
}

.header .nav-link {
  text-align: center;
}
@media screen and (min-width:768px) {
  .header .nav-link {
    text-align: left;
  } 
}
.navbar-light .navbar-toggler {
  color: rgba(255,255,255,1) !important;
  border-color: rgba(255,255,255,.5) !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.header .btn-gha {
  border: 1px solid transparent;
  background-color: #01579B;
}

/* 
.header-title {
  margin: 0;
  color: #fff;
}
.header .btn {
  color: #fff;
}
.header-nav {
  display: inline-block;
} */

/* .phone-number {
  display: inline-block;
}
@media screen and (max-width:365px) {
  .header-nav {
    text-align: right;
  }
  .header-nav .btn.large {
    font-size: 18px;
    padding: 0;
  }
  .intro {
    font-size: 20px;
  }
} */