.hero {
  position: relative;
  background-color: #01579B;
  /* background-image: radial-gradient(100% 200% at 50% 150%,#0693fe,#01579B); */
  background-image: radial-gradient(50% 95% at 50% 95%,#0693fe,#01579B);
  padding-bottom: 100px;
}
.hero-container {
  margin: 7rem auto 3rem;
}

.hero-title {
  font-size: 44px;
  /* margin: -64px 0 16px; */
  /* padding: 0; */
  color: #fff;
}
.hero-subtitle {
  font-size: 27px;
  font-weight: normal;
  margin: 0 0 1.2rem;
  /* padding: 0; */
  color: #fff;
}
.hero .btn {
  color: #fff;
  border-color: #fff;
}

.diagonal {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 5vw;
}

.mask {
  background-color: black;
  width: 150px;
  height: 150px;
/*   Clip Path */
  clip-path: polygon(
    40% 0%, 60% 0%,
    85% 10%,
    95% 25%, 92% 35%,
    65% 45%, 35% 45%,
    7% 35%, 5% 25%,
    15% 10%);
  position: absolute;
  top: 0;
  left:0;
  background-color: black;
  z-index: 999;
}
