.subscribe p {
  color: #fff;
}

form {
  margin: 25px 0;
  text-align: center;
}

input[type="submit"],
input[type="email"] {
  margin-top: 5px;
  margin-bottom: 10px;
}

input[type="email"] {
  border-color: #fff;
}

input[type="submit"] {
  background: #01579B;
  border: none;
  color: #fff;
}

